<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1><%= post.title %></h1>
      <% if(currentUser && (currentUser.isAdmin() || currentUser.isOwner())) { %>
      <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <% } %>
      <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/tags/new" class="btn btn-success">New Tag</a>
      <p><%= post.body %></p>
      <h4>Tags</h4>
      <ul class="list-group">
        <% post.tags.forEach((tag) => { %>
          <li class="list-group-item">
            <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/tags/<%= tag.id %>" style="color: <%= tag.color %>"> <%= tag.name %> </a>
            <% if(currentUser.isAdmin() || currentUser.isOwner()) { %>
              <a href="/topics/<%= post.topicId %>/posts/<%= tag.postId %>/tags/<%= tag.id %>/edit" class="btn btn-warning">Edit</a>
              <form style="display:initial" action="/topics/<%= post.topicId %>/posts/<%= tag.postId %>/tags/<%= tag.id %>/destroy" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>