<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= post.title %></h1>
      <a href="/topics/<%= topic.postId %>/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
      <a href="/topics/<%= topic.id %>/posts/<%= post.id %>/tags/new" class="btn btn-success">New Tag</a>
      <form style="display:initial" action="/topics/<%= topic.topicId %>/posts/<%= post.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <p><%= post.body %></p>
      <h3>Tags</h3>
      <ul class="list-group">
        <% post.tags.forEach((tag) => { %>
          <li class="list-group-item">
            <a href="/topics/<%= topic.id %>/posts/<%= post.id %>/tags/<%= tag.id %>"> <%= tag.title %> </a>
          </li>
        <% }) %>
      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>